body {
    font-family: 'Averin', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: black;
  font-size: 1.2em;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
  text-align: justify;
}

.red {
    color:red
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    border-radius: 5px;
    display: block;
    padding: 20px;
  }